#parent-box {
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/Hero_image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-overflow: initial;
}

#email-input {
    border: 1px solid #B7B7B2;
}